.about-me {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 50vh;
    text-align: center;
    gap: 10%;
    align-items: center;
  }

.personal-image {
    width: 45%;
    height: 100%;
    border: solid;
    pointer-events: none;
}

.about-info {
    width: 45%;
    height: auto;
    background-color: #93BFCF;
    border: solid;
    font-family: LemandsBold, sans-serif;
    font-size: 1.25rem;
    padding: 0%;
}

@media screen and (max-width: 1125px) {
    .about-me {
        flex-direction: column;
        height: auto;
        gap: 1rem;
    }
    
    .personal-image {
        width: 100%;
    }
    
    .about-info {
        width: 100%;
    }
}