.about-me {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 50vh;
    text-align: center;
    gap: 10%;
  }

.personal-image {
    width: 45%;
    height: 100%;
    border: solid;
    pointer-events: none;
}

.about-info {
    width: 45%;
    height: 100%;
    background-color: #93BFCF;
    border: solid;
}

@media screen and (max-width: 600px) {
    .about-me {
        flex-direction: row;
        align-items: center;
        width: 95vw;
        margin-bottom: 130%;
    }
    .about-info {
        width: 100%;
    }
    .personal-image {
        width: 100%;
    }
}