.educationCards {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 75%;
    gap: 3%;
}

.flipped-arrow {
    transform: scaleY(-1);
    margin-bottom: 25%;
}

.card {
    width: 18rem;
    height: 25rem;
    background-color: #93BFCF;
    border: solid;
}

.school-img {
    border: solid;
    object-fit: cover; /* crops the image */
    height: 40%;
    pointer-events: none;
    object-position: center;
}

.card-text {
    font-weight: normal;
}

@media screen and (max-width: 600px) {
    .card {
        margin: 5%;
    }
}