.projectCards {
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -1%;
}

.card-styling {
    background-color: #93BFCF;
    padding: 1%;
    border: solid;
}

.goSomewhereButton {
    width: 80%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: #EEE9DA;    
    text-shadow: none;
}

.project1Image {
    border: solid;
    background-color: #7CF5FF;
    width: 100%;
    height: 100%;
    margin-top: -3%;
    pointer-events: none; /* prevents anyone from dragging my images */
}

.container {
    display: flex;
    width: 100%; 
    height: 20rem;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

.projectCard {
    margin: 1%;
    width: 25rem;
}

.projectCard > h2 {
    margin-top: 3%;
}



@media screen and (max-width: 600px) { /* when the width gets smaller, give a margin of 10% all around */

    .projectCard > h2 {
        margin-top: 5%;
    }

    .projectCards {
        margin: 0px;
        width: 100%;
        padding: 0%;
    }

    .projectCard {
        margin-top: 10%;
        width: 100%;
    }

    
    .project1Image {
        width: 95%;
        height: 95%;
        margin: 0%;
    }

    .goSomewhereButton {
        width: 80%;
        height: 10%;
        margin: 5%;
    }

}
