.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 6rem;
    text-shadow: 
    -1px -1px 0 #000, /* Top-left */
    1px -1px 0 #000,  /* Top-right */
    -1px 1px 0 #000,  /* Bottom-left */
    1px 1px 0 #000;   /* Bottom-right */
    /* found the above off google to add shadow to my text */
  }
  

  

